In [57]:
!pip install bs4
!pip install requests
import re
from bs4 import BeautifulSoup
import requests
import pandas as pd

Requirement already satisfied: bs4 in /Applications/anaconda3/lib/python3.11/site-packages (0.0.2)
Requirement already satisfied: beautifulsoup4 in /Applications/anaconda3/lib/python3.11/site-packages (from bs4) (4.12.2)
Requirement already satisfied: soupsieve>1.2 in /Applications/anaconda3/lib/python3.11/site-packages (from beautifulsoup4->bs4) (2.4)
Requirement already satisfied: requests in /Applications/anaconda3/lib/python3.11/site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Applications/anaconda3/lib/python3.11/site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Applications/anaconda3/lib/python3.11/site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Applications/anaconda3/lib/python3.11/site-packages (from requests) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /Applications/anaconda3/lib/python3.11/site-packages (from requests) (2023.7.22)

In [58]:
# Question - 1
page1=requests.get("https://www.wikipedia.org/")
wiki_soup=BeautifulSoup(page1.content,"html.parser")
header_tags = wiki_soup.find_all(["h1", "h2", "h3", "h4", "h5", "h6"])
for h in header_tags:
    print(h)
    print(" ")

<h1 class="central-textlogo-wrapper">
<span class="central-textlogo__image sprite svg-Wikipedia_wordmark">
Wikipedia
</span>
<strong class="jsl10n localized-slogan" data-jsl10n="portal.slogan">The Free Encyclopedia</strong>
</h1>

<h2 class="bookshelf-container">
<span class="bookshelf">
<span class="text">
<bdi dir="ltr">
1,000,000+
</bdi>
<span class="jsl10n" data-jsl10n="entries">
articles
</span>
</span>
</span>
</h2>

<h2 class="bookshelf-container">
<span class="bookshelf">
<span class="text">
<bdi dir="ltr">
100,000+
</bdi>
<span class="jsl10n" data-jsl10n="portal.entries">
articles
</span>
</span>
</span>
</h2>

<h2 class="bookshelf-container">
<span class="bookshelf">
<span class="text">
<bdi dir="ltr">
10,000+
</bdi>
<span class="jsl10n" data-jsl10n="portal.entries">
articles
</span>
</span>
</span>
</h2>

<h2 class="bookshelf-container">
<span class="bookshelf">
<span class="text">
<bdi dir="ltr">
1,000+
</bdi>
<span class="jsl10n" data-jsl10n="portal.entries">
articles
</span>
</span>
</span>
</h2>

<h2 class="bookshelf-container">
<span class="bookshelf">
<span class="text">
<bdi dir="ltr">
100+
</bdi>
<span class="jsl10n" data-jsl10n="portal.entries">
articles
</span>
</span>
</span>
</h2>

In [59]:
# Question - 2
movie_names = []
release_years = []
ratings = []
page2=requests.get("https://www.imdb.com/list/ls091520106/")
movie_soup=BeautifulSoup(page2.content)
movie_list = movie_soup.find_all("h3", class_="lister-item-header")
for c in movie_list:
    name = c.contents[3].text
    movie_names.append(name)
for y in movie_soup.find_all("span",class_="lister-item-year text-muted unbold"):
    release_years.append(y.text.replace('(', '').replace(')', ''))
for r in movie_soup.find_all("div",class_="ipl-rating-star small"):
    ratings.append(r.contents[3].text)
    
    
df=pd.DataFrame({"Name":movie_names," Rating":ratings,"Year of release":release_years})
df

                                   Name  Rating Year of release
0              The Shawshank Redemption     9.3            1994
1                         The Godfather     9.2            1972
2                 The Godfather Part II       9            1974
3                       The Dark Knight       9            2008
4                          12 Angry Men       9            1957
..                                  ...     ...             ...
95                   North by Northwest     8.3            1959
96                   A Clockwork Orange     8.3            1971
97                               Snatch     8.2            2000
98  Le fabuleux destin d'Amélie Poulain     8.3            2001
99                              The Kid     8.2            1921

[100 rows x 3 columns]

In [62]:
# Question - 3
titles=[]
location=[]
cuisine_array=[]
rating=[]
images=[]
page3=requests.get("https://www.dineout.co.in/delhi-restaurants/buffet-special")
soup=BeautifulSoup(page3.content)
cuisine=soup.find_all("span",class_="double-line-ellipsis")
for c in cuisine:
    cuisine_string=''
    for item in c.contents[2:]:
        cuisine_string = cuisine_string + item.text    
    cuisine_array.append(cuisine_string)
for i in soup.find_all("div",class_="restnt-info cursor"):
    titles.append(i.text)
for l in soup.find_all("div",class_="restnt-loc ellipsis"):
    location.append(l.text)
for r in soup.find_all("div",class_="restnt-rating rating-4"):
    rating.append(r.text)
for i in soup.find_all("img",class_="no-img"):
    images.append(i["data-src"])
df=pd.DataFrame({"Title":titles,"Location":location,"Cuisine":cuisine_array,"Rating":rating,"Images":images})
df

,Title,Location,Cuisine,Rating,Images
0,"Castle's BarbequeConnaught Place, Central Delhi","Connaught Place, Central Delhi","Chinese, North Indian",4,https://im1.dineout.co.in/images/uploads/resta...
1,"Cafe KnoshThe Leela Ambience Convention Hotel,...","The Leela Ambience Convention Hotel,Shahdara, ...","Italian, Continental",4.3,https://im1.dineout.co.in/images/uploads/resta...
2,"India GrillHilton Garden Inn,Saket, South Delhi","Hilton Garden Inn,Saket, South Delhi","North Indian, Italian",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,"The Barbeque CompanyGardens Galleria,Sector 38...","Gardens Galleria,Sector 38A, Noida","North Indian, Chinese",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,"Delhi BarbequeTaurus Sarovar Portico,Mahipalpu...","Taurus Sarovar Portico,Mahipalpur, South Delhi",North Indian,3.7,https://im1.dineout.co.in/images/uploads/resta...
5,The Monarch - Bar Be Que VillageIndirapuram Ha...,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",North Indian,3.8,https://im1.dineout.co.in/images/uploads/resta...
6,"The Barbeque TimesM2K Corporate Park,Sector 51...","M2K Corporate Park,Sector 51, Gurgaon","North Indian, Continental, Chinese, South Indian",4.1,https://im1.dineout.co.in/images/uploads/resta...

In [61]:
# Question - 4
president_names=[]
terms = []

main_page=requests.get("https://presidentofindia.nic.in/former-presidents")
main_soup=BeautifulSoup(main_page.content)
for n in main_soup.find_all("div",class_="desc-sec"):
    name_text = n.find("h3").text
    president_names.append(name_text)
all_presidents = main_soup.findAll('div', class_='president-listing')
for p in all_presidents:
    page_link = p.find('a').get('href')
    try:
        president_page = requests.get(page_link)
        president_page_soup = BeautifulSoup(president_page.content)
        term_text = president_page_soup.find("span", class_="bot-txt")
        dates = term_text.text.replace("Term of Office:","")
        terms.append(dates)
    except Exception as err:
        terms.append('')
        print(f'Error occured in fetching president page')


df=pd.DataFrame({"Name":president_names,"Term_of_Office":terms})
df

Error occured in fetching president page

                            Name                         Term_of_Office
0           Shri Ram Nath Kovind
1          Shri Pranab Mukherjee        25th July 2007 - 25th July 2012
2   Smt Pratibha Devisingh Patil        25th July 2007 - 25th July 2012
3         DR. A.P.J. Abdul Kalam        25th July 2002 - 25th July 2007
4           Shri K. R. Narayanan         25 July, 1997 to 25 July, 2002
5        Dr Shankar Dayal Sharma         25 July, 1992 to 25 July, 1997
6            Shri R Venkataraman         25 July, 1987 to 25 July, 1992
7               Giani Zail Singh         25 July, 1982 to 25 July, 1987
8      Shri Neelam Sanjiva Reddy         25 July, 1977 to 25 July, 1982
9       Dr. Fakhruddin Ali Ahmed   24 August, 1974 to 11 February, 1977
10  Shri Varahagiri Venkata Giri     24 August, 1969 to 24 August, 1974
11              Dr. Zakir Husain           13 May, 1967 to 03 May, 1969
12  Dr. Sarvepalli Radhakrishnan          13 May, 1962 to 13 May , 1967
13           Dr. Rajendra Prasad       26 January, 1950 to 13 May, 1962